svg(style="display:none;")
    defs
        symbol(id="close", viewBox="0 0 82 82")
            path(d="m80.9 80.9c-1.5 1.4-3.9 1.4-5.3 0l-34.6-34.6-34.6 34.6c-1.5 1.5-3.8 1.5-5.3 0-1.5-1.5-1.5-3.8 0-5.3l34.6-34.6-34.6-34.6c-1.5-1.5-1.5-3.8 0-5.3 1.5-1.5 3.8-1.5 5.3 0l34.6 34.6 34.6-34.6c1.5-1.5 3.8-1.5 5.3 0 1.4 1.5 1.4 3.8 0 5.3l-34.6 34.6 34.6 34.6c1.5 1.5 1.5 3.8 0 5.3z")
        symbol(id="menu", viewBox="0 0 764 768")
            path(d="M-192 0.002h1152v129.002h-1152v-129.002zM-192 447v-126h1152v126h-1152zM-192 767.998v-129.002h1152v129.002h-1152z")
