<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>plan</title>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Roboto+Condensed|Carrois+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.min.css">

    <body class="page js-page-parallax">

        <div class="hero js-hero-parallax" id="js-hero-parallax">

            <div class="box">
                <h1 class="hero__title">This is parallax project</h1>
            </div>

            <div data-depth="0.2" class="hero__item hero__item--bg hero__item--layer1">
            </div>
            <div data-depth="0.4" class="hero__item hero__item--bg hero__item--layer2">
            </div>
            <div data-depth="0.5" class="hero__item hero__item--bg hero__item--layer3">
            </div>
            <div data-depth="0.7" class="hero__item hero__item--semibg hero__item--layer4">
            </div>
            <div data-depth="0.7" class="hero__item hero__item--semibg hero__item--layer5">
            </div>
            <div data-depth="0.7" class="hero__item hero__item--semibg hero__item--layer6">
            </div>
            <div data-depth="0.3" class="hero__item hero__item--fruits hero__item--layer7">
            </div>
            <div data-depth="0.4" class="hero__item hero__item--fruits hero__item--layer8">
            </div>
            <div data-depth="0.9" class="hero__item hero__item--fruits hero__item--layer9">
            </div>
            <div data-depth="0.6" class="hero__item hero__item--fruits hero__item--layer10">
            </div>
            <div data-depth="0.4" class="hero__item hero__item--fruits hero__item--layer11">
            </div>
            <div data-depth="0.6" class="hero__item hero__item--fruits hero__item--layer12">
            </div>
            <div data-depth="0.5" class="hero__item hero__item--semibg hero__item--layer13">
            </div>
        </div>

        <div class="page-parallax">
            <img src="images/1.png" class="blotter blotter--num1"></img>
            <img src="images/2.png" class="blotter blotter--num2"></img>
            <img src="images/3.png" class="blotter blotter--num3"></img>
            <img src="images/4.png" class="blotter blotter--num4"></img>

            <div class="junior">

                <div class="box">

                    <div class="js-junior-parallax">

                        <div class="junior-cup">

                            <img src="images/ice-1.png" alt="" class="junior-cup__component junior-cup__component--ice-1">
                            <img src="images/ice-2.png" alt="" class="junior-cup__component junior-cup__component--ice-2">
                            <img src="images/ice-3.png" alt="" class="junior-cup__component junior-cup__component--ice-3">
                            <img src="images/ice-4.png" alt="" class="junior-cup__component junior-cup__component--ice-4">
                            <img src="images/ice-5.png" alt="" class="junior-cup__component junior-cup__component--ice-5">
                            <img src="images/ice-6.png" alt="" class="junior-cup__component junior-cup__component--ice-6">
                            <img src="images/ice-7.png" alt="" class="junior-cup__component junior-cup__component--ice-7">
                            <img src="images/ice-8.png" alt="" class="junior-cup__component junior-cup__component--ice-8">
                            <img src="images/ice-9.png" alt="" class="junior-cup__component junior-cup__component--ice-9">
                            <img src="images/ice-10.png" alt="" class="junior-cup__component junior-cup__component--ice-10">

                            <img src="images/cup-junior.png" alt="" class="junior-cup__container">
                            <img src="images/tube-junior.png" alt="" class="junior-cup__component junior-cup__component--tube">

                        </div>

                        <div class="junior-juice">
                            <img src="images/apple.png" alt="" class="junior-juice__component junior-juice__component--apple">
                            <img src="images/blackberry.png" alt="" class="junior-juice__component junior-juice__component--blueberry">
                            <img src="images/banana.png" alt="" class="junior-juice__component junior-juice__component--grape1">
                            <img src="images/cherry.png" alt="" class="junior-juice__component junior-juice__component--cherry">
                            <img src="images/kiwi.png" alt="" class="junior-juice__component junior-juice__component--kiwi">
                            <img src="images/lime.png" alt="" class="junior-juice__component junior-juice__component--lime">
                            <img src="images/strawberry.png" alt="" class="junior-juice__component junior-juice__component--strawberry">
                            <img src="images/raspberry.png" alt="" class="junior-juice__component junior-juice__component--malina">

                            <div src="" alt="" class="junior-clip">
                                <div class="junior-clip__juice">
                                    <div class="junior-clip__top"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <img src="images/5.png" class="blotter blotter--num5"></img>
            <img src="images/6.png" class="blotter blotter--num6"></img>
            <img src="images/7.png" class="blotter blotter--num7"></img>
            <img src="images/8.png" class="blotter blotter--num8"></img>
            <img src="images/9.png" class="blotter blotter--num9"></img>

            <div class="middle">

                <div class="box">

                    <div class="js-middle-parallax">

                        <div class="middle-cup">

                            <img src="images/ice-1.png" alt="" class="middle-cup__component middle-cup__component--ice-1">
                            <img src="images/ice-2.png" alt="" class="middle-cup__component middle-cup__component--ice-2">
                            <img src="images/ice-3.png" alt="" class="middle-cup__component middle-cup__component--ice-3">
                            <img src="images/ice-4.png" alt="" class="middle-cup__component middle-cup__component--ice-4">
                            <img src="images/ice-5.png" alt="" class="middle-cup__component middle-cup__component--ice-5">
                            <img src="images/ice-6.png" alt="" class="middle-cup__component middle-cup__component--ice-6">
                            <img src="images/ice-7.png" alt="" class="middle-cup__component middle-cup__component--ice-7">
                            <img src="images/ice-8.png" alt="" class="middle-cup__component middle-cup__component--ice-8">
                            <img src="images/ice-9.png" alt="" class="middle-cup__component middle-cup__component--ice-9">
                            <img src="images/ice-10.png" alt="" class="middle-cup__component middle-cup__component--ice-10">
                            <img src="images/ice-3.png" alt="" class="middle-cup__component middle-cup__component--ice-11">
                            <img src="images/ice-6.png" alt="" class="middle-cup__component middle-cup__component--ice-12">
                            <img src="images/ice-8.png" alt="" class="middle-cup__component middle-cup__component--ice-13">
                            <img src="images/cup-middle.png" alt="" class="middle-cup__container">
                            <img src="images/tube-middle.png" alt="" class="middle-cup__component middle-cup__component--tube">

                        </div>

                        <div class="middle-juice">
                            <img src="images/apple.png" alt="" class="middle-juice__component middle-juice__component--apple">
                            <img src="images/banana.png" alt="" class="middle-juice__component middle-juice__component--peach">
                            <img src="images/orange.png" alt="" class="middle-juice__component middle-juice__component--orange">
                            <img src="images/pear.png" alt="" class="middle-juice__component middle-juice__component--cherry">
                            <img src="images/watermelon.png" alt="" class="middle-juice__component middle-juice__component--lime">
                            <img src="images/grape.png" alt="" class="middle-juice__component middle-juice__component--grape">
                            <img src="images/pineapple.png" alt="" class="middle-juice__component middle-juice__component--mandarin">

                            <div src="" alt="" class="middle-clip">
                                <div class="middle-clip__juice">
                                    <div class="middle-clip__top"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <img src="images/2.png" class="blotter blotter--num10"></img>
            <img src="images/3.png" class="blotter blotter--num11"></img>
            <img src="images/8.png" class="blotter blotter--num12"></img>
            <img src="images/9.png" class="blotter blotter--num13"></img>

            <div class="senior">

                <div class="box">

                    <div class="js-senior-parallax">

                        <div class="senior-cup">
                            <img src="images/ice-1.png" alt="" class="senior-cup__component senior-cup__component--ice-1">
                            <img src="images/ice-2.png" alt="" class="senior-cup__component senior-cup__component--ice-2">
                            <img src="images/ice-3.png" alt="" class="senior-cup__component senior-cup__component--ice-3">
                            <img src="images/ice-4.png" alt="" class="senior-cup__component senior-cup__component--ice-4">
                            <img src="images/ice-5.png" alt="" class="senior-cup__component senior-cup__component--ice-5">
                            <img src="images/ice-6.png" alt="" class="senior-cup__component senior-cup__component--ice-6">
                            <img src="images/ice-7.png" alt="" class="senior-cup__component senior-cup__component--ice-7">
                            <img src="images/ice-8.png" alt="" class="senior-cup__component senior-cup__component--ice-8">
                            <img src="images/ice-9.png" alt="" class="senior-cup__component senior-cup__component--ice-9">
                            <img src="images/ice-10.png" alt="" class="senior-cup__component senior-cup__component--ice-10">
                            <img src="images/ice-3.png" alt="" class="senior-cup__component senior-cup__component--ice-11">
                            <img src="images/ice-6.png" alt="" class="senior-cup__component senior-cup__component--ice-12">
                            <img src="images/ice-8.png" alt="" class="senior-cup__component senior-cup__component--ice-13">
                            <img src="images/ice-4.png" alt="" class="senior-cup__component senior-cup__component--ice-14">
                            <img src="images/ice-5.png" alt="" class="senior-cup__component senior-cup__component--ice-15">
                            <img src="images/cup-senior.png" alt="" class="senior-cup__container">
                            <img src="images/tube-senior.png" alt="" class="senior-cup__component senior-cup__component--tube">
                        </div>

                        <div class="senior-juice">
                            <img src="images/apple.png" alt="" class="senior-juice__component senior-juice__component--apple">
                            <img src="images/watermelon1.png" alt="" class="senior-juice__component senior-juice__component--grapefruit">
                            <img src="images/grape.png" alt="" class="senior-juice__component senior-juice__component--merlot">
                            <img src="images/strawberry.png" alt="" class="senior-juice__component senior-juice__component--strawberry">
                            <img src="images/lemon.png" alt="" class="senior-juice__component senior-juice__component--lime">
                            <img src="images/orange.png" alt="" class="senior-juice__component senior-juice__component--orange">
                            <img src="images/raspberry.png" alt="" class="senior-juice__component senior-juice__component--malina">

                            <div src="" alt="" class="senior-clip">
                                <div class="senior-clip__juice">
                                    <div class="senior-clip__top"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <img src="images/1.png" class="blotter blotter--num14"></img>
            <img src="images/4.png" class="blotter blotter--num15"></img>
            <img src="images/5.png" class="blotter blotter--num16"></img>
            <img src="images/7.png" class="blotter blotter--num17"></img>

            <div class="cubes" style="padding: 300px 0;">

                <img src="images/wheel.png" alt="" class="cubes__wheel">

                <div class="cubes__content">

                    <div class="cube cube--red">
                        <div class="cube__content">
                            <span class="cube__text">This</span>
                        </div>
                    </div>

                    <div class="cube cube--blue">
                        <div class="cube__content">
                            <span class="cube__text">is</span>
                        </div>
                    </div>

                    <div class="cube cube--purple">
                        <div class="cube__content">
                            <span class="cube__text">Parallax</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <footer class="footer js-footer-parallax">
            <div class="box">
                <h1 class="footer__title">Thanks for your attention</h1>
             </div>
        </footer>

    </body>

    <script src="scripts/jquery-3.2.1.min.js"></script>
    <script src="scripts/jquery.scrollorama.js"></script>
    <script src="scripts/parallax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="scripts/common.js"></script>
</head>

</html>
