@import "../senior-cup/senior-cup.css";
@import "../senior-juice/senior-juice.css";

.senior {
    padding-top: 100px;
    padding-bottom: 50vh;
    background-color: #c2d785;

    & .js-senior-parallax {
        position: relative;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 700px;
    }
}
