.senior-clip {
    clip-path: url(../images/juice-senior-clip.svg#clip-path);
    mask: url(../images/juice-senior-clip.svg#clip-mask);
    mask-repeat: no-repeat;
    position: absolute;
    width: 212px;
    height: 565px;
    left: calc(50% - 108px);
    bottom: 20px;
    z-index: 1;

    &__juice {
        background-image: url(../images/juice-senior.png);
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 10;
    }

    &__top {
        z-index: 3;
        width: 100%;
        height: 40px;
        background-color: #f97884;
        position: absolute;
        top: -20px;
        border-radius: 50%;
    }
}
